.about {
  text-align: center;
  background-image: url("http://i.imgur.com/ud5Wkri.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
    .about-header h1, .about-subheader p {
      @extend %lato; 
      @extend %white-text;
    }
    .about-header h1 {
      margin-top: 0; 
        @media screen and (max-width: 500px) {
          padding-top: 100px; 
        }
    }
    .about-subheader {
        @media screen and (max-width: 500px) {
          padding-bottom: 100px; 
        }
        p {
          max-width: 80%; 
          margin: 0 auto; 
          background: rgba(85, 85, 85, 0.68);
          border-radius: 2px;
          padding: 20px 0;
          width: 60%;
          margin: 0 auto;
          line-height: 2; 
            @media screen and (max-width: 1200px) {
              padding: 20px 20px; 
            }
        }
    }
}