.connect {
  background-image: url('http://i.imgur.com/hfdtaRR.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center; 
    h1.connect-heading {
      @extend %lato;
      @extend %white-text; 
      text-align: center; 
    }
    .connect-flex {
      justify-content: center; 
    }
    ul {
      margin: 0; 
      padding: 0; 
        li {
          list-style: none; 
          padding: 0; 
          text-align: center; 
          flex-basis: calc(100% / 4 - 20px);
            .fa-envelope {
              color: #dd4b39;
            }
            .fa-linkedin-square{
              color: #007bb5;
            }
            .fa-facebook-square {
              color: #3b5998;
            }
            .fa-instagram {
              color: #4c68d7;
            }
        }
    }
}