@media screen and (max-width: 980px) {
  //Toolkit
  .container {
    max-width: 768px
  }
  .skills .vh {
    padding-top: calc(35vh - 240px);
  }
  //Project
  .projects .project-card .project-image {
    padding-top: 40%;
  }
  //Skill
  .skill .flex {
    flex-direction: column;
    text-align: center;
    padding: 5px 30px;
      li {
        margin: 5px 0;
      }
    }
  .name {
    margin-top: -20px;
  }

  .about .about-subheader p {
    width: 100%;
    padding: 30px;
    line-height: 2;
  }
}

@media screen and (max-width: 768px) {
  //Toolkit
  .container {
    max-width: 500px;
  }
  //Navigation
  .navigation-cta {
    max-width: 70%
  }
}
@media screen and (max-width: 500px) {
  //Toolkit 
  html {
    font-size: 24px;
  }
  .container {
    max-width: 400px;
  }
  .navigation-cta {
    width: 90%; 
      a {
        vertical-align: middle; 
      }
  }
  .navigation h1 {
    padding: 5px; 
    padding-top: 0; 
  }
  .landing {
    height: 100%; 
    min-height: 90vh; 
  }
  //About 
  .about-header .vh {
    padding-top: calc(46vh - 380px);
  }
  .about .about-subheader p {
    width: 70%;
    padding: 20px 40px;
  }
  //Skill 
  .skills .vh {
    padding-top: calc(30vh - 220px);
  }
  //Project
  .projects .vh {
    padding-top: calc(40vh - 200px);
  }
  .projects .project-card .project-image {
    padding-top: 60%;
  }
  //Connect
  .vh.connect-heading {
    padding-top: calc(38vh - 280px)
  }
  .connect .connect-flex {
    flex-direction: column;
      li {
        margin: 10px 0;
      }
  }
}
@media screen and (max-width: 300px) {
  //Toolkit
  .container {
    max-width: 290px; 
  }
  //Navigation
  .navigation-cta {
    max-width: 95%
  }
  .title {
    display: none;
  }
  h1.vh.connect-heading {
    margin-top: 0;
  }
}