.landing.skills {
  flex-direction: column;
  align-items: center;
  background-image: url('http://i.imgur.com/0OV7P96.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    @media screen and (max-width: 500px) {
      padding-bottom: 100px; 
    }
}

.skills-header h1, .skill ul li {
  @extend %lato;
  @extend %white-text;
}

.skill {
  max-width: 100%;
  background: rgba(85, 85, 85, 0.68);
  border-radius: 2px;
  padding: 20px 0;
    ul {
      max-width: 100%;
      margin: 0;
      padding: 0;
        @media screen and (max-width: 1200px) {
          display: grid; 
          grid-template-columns: calc(100% / 2) calc(100% / 2);
          min-width: 500px; 
        }
        @media screen and (max-width: 500px) {
          min-width: 350px; 
        }
        @media screen and (max-width: 300px) {
          min-width: 210px; 
        }
        li {
          list-style: none;
          padding: 0 20px;
            @media screen and (max-width: 1200px) {
              padding: 20px 20px; 
              text-align: center; 
            }
            @media screen and (max-width: 300px) {
              padding: 20px 0; 
              font-size: 18px; 
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .skills-header .vh {
        padding-top: calc(52vh - 350px);
    }
}