.connect {
  background: #736B64;
  color: white;
  padding: 40px 0;
    h1 {
      text-align: center;
      margin: 0;
    }
}

.connect-logo {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
  }
  li {
    list-style: none;
  }
}

.fa-envelope {
  color: #dd4b39;
  transition: all .35s ease-in-out;
    &:hover {
      color: white;
    }
}

.fa-facebook-square {
  color: #3b5998;
  transition: all .35s ease-in-out;
    &:hover {
      color: white;
    }
}

.fa-twitter {
  color: #55acee;
  transition: all .35s ease-in-out;
    &:hover {
      color: white;
    }
}


.fa-linkedin-square {
  color: #007bb5;
  transition: all .35s ease-in-out;
    &:hover {
      color: white;
    }
}
